<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="{{url_for('static',filename='img/cdn.png')}}" alt="logo" width="40" />
                <span>Mi pagina online</span>
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/redes">Redes</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article>
                <h2>Amir Plaza</h2>
                <img src=https://img.freepik.com/foto-gratis/belleza-otonal-abstracta-patron-venas-hoja-multicolor-generado-ia_188544-9871.jpg
                    alt="inteligencia artificial" width="200" height="150" />
                <p>
                    Desarrollador Web
                </p>
                <span>python developer</span>
            </article>
            <article>
                <h2>YES Informatica</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ87QHuS6M1hTwN47BCiPsvhIlWlymq8MZyNQ&s"
                    alt="seguridad informática" width="200" height="150" />
                <p>
                    Instituto de Programacion y Robotica
                </p>
                <span>devs,children,junior,senior</span>
            </article>
        </section>
        <h1>hola desde contacto</h1>
    </main>


</body>

</html>